#ao3-viewport {
    /*background-color: rgb(0, 251, 21);*/
    width: 380px;
    height: 700px;
}

/*-------------------------PHONE SHELL-------------------------*/
#phonecase {
    position: relative;
    width: 380px;
    height: 700px;
    border-radius: 60px;
    background-color: rgb(237, 237, 237);

    box-shadow: inset 0px 0 10px rgb(143, 143, 143);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#front-camera {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgb(29, 29, 29);
    /*align-self: flex-start;*/
    bottom: 313px;

    position: relative;
    z-index: 1;
}

#homebutton {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: rgb(176, 176, 176);
    box-shadow: inset 0px 0 3px rgb(69, 69, 69);
    /*align-self: flex-end;*/
    top: 325px;

    position: relative;
    z-index: 1;
}

#homebutton:hover {
    cursor: grab;
}

/*-----------------FOR EVERYTHING THAT COVERS THE WHOLE DISPLAY-----------------*/
.phonescreen {
    width: 310px;
    height: 625px;
    border-radius: 50px;
    box-shadow: inset 0px 0 10px rgb(69, 69, 69);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
}

/*-----------------------HOMESCREEN-----------------------*/
#homescreen {
    background-image: linear-gradient(to bottom, rgb(8, 8, 255, 0.6), rgb(85, 85, 255), rgb(188, 188, 255), rgb(255, 255, 255, 0.8), rgb(255, 190, 190), rgb(251, 122, 122), rgb(255, 83, 83), rgb(255, 0, 0, 0.8));
    /*border: solid 2px rgb(143, 143, 143);*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#apps {
    display: grid;
    grid-template-columns: repeat(4, 55px);
    gap: 15px;
    justify-items: center;
    height: 600px;
    width: 260px;
    /* 4 icons × 55px + gaps */
    justify-content: center;
    align-items: center;
}

.app-icons {
    width: 55px;
    height: 55px;
    border-radius: 7px;
}

.app-icons:hover {
    cursor: grab;
    box-shadow: 0px 0 6px rgb(69, 69, 69, 0.5);
}


/*--------------------GOOGLE----------------------*/

#google {
    display: none;
    background-color: white;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    
}

#google-header {
    background-color: rgb(229, 229, 229);
    width: 310px;
    height: 80px;
    border-radius: 50px 50px 0px 0px;
    box-shadow: inset 0px 0 10px rgb(143, 143, 143);

    clip-path: inset(0px -10px 20px -10px);
}

#header-searchbar {
    background-color: rgb(205, 205, 205);
    border-radius: 40px;
    width: 150px;
    height: 30px;
    line-height: 27px;
    margin-left: 25px;
    margin-top: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 160px;
    padding: 0 10px;
}

#header-searchbar p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(126, 126, 126);
    margin: 0;
}

#menu-icon {
    width: 15px;
    height: 15px;
}

#menu-icon:hover{
    cursor: grab;
}

#google-logo {
    width: 150px;
    height: auto;
    margin-top: 120px;

}

#searchbar {
    width: 270px;
    height: 35px;
    border: solid 1px rgb(205, 205, 205);
    border-radius: 40px;
    margin-top: 17px;
}

/*--------------------GOOGLE MENU----------------------*/

#googleMenuPopup{
    display: none;
    background-color:rgb(229, 229, 229);
    width: 150px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 8px rgba(99, 99, 99, 0.8);

    line-height: 19px;
    align-items: flex-start;
    gap: 20px;

    position: absolute;
    top: 53px;
    right: 20px;
}

#googleMenuPopup:hover{
    cursor: grab;
}

#history-icon{
    width: 20px;
    height: 20px;

    margin-top: 10px;
    margin-left: 10px;  
}


#googleMenuPopup p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(0, 0, 0);

    margin-top: 10px;
}
